/* 
.blocklyFlyoutBackground {
    width: 100% !important;
    height: 100% !important;
  }
 */
/* .blocklySvg {
  width: 100% !important;
  height: 100% !important;
} */
/* .blocklyFlyout {
  width: 33% !important;
  height: 100% !important;
} */
.blocklyFlyoutBackground {
  fill: #ffffff;
}