/* 
.blocklyFlyoutBackground {
    width: 100% !important;
    height: 100% !important;
  }

  .blocklyFlyoutBackground {
    fill: #f3f4f6;
  } */
/* .blocklySvg {
  width: 100% !important;
  height: 100% !important;
} */
/* .blocklyFlyout {
  width: 33% !important;
  height: 100% !important;
} */